*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:linear-gradient(135deg,#07151d,#0d2d3c,#101827);
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.app{
    width:100%;
    max-width:430px;
    padding:20px;
}

#menu,
#game{
    background:#18222f;
    border-radius:22px;
    padding:25px;
    box-shadow:0 12px 30px rgba(0,0,0,.45);
}

h1{
    text-align:center;
    margin-bottom:10px;
    font-size:38px;
}

h2{
    margin:18px 0 12px;
    font-size:20px;
}

p{
    text-align:center;
    color:#b7c8d6;
}

.difficulty-grid,
.goal-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:12px;
    margin-bottom:20px;
}

.difficulty,
.goal{
    height:60px;
    border:none;
    border-radius:15px;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
    transition:.2s;
}

.difficulty{
    background:#2d3748;
    color:white;
}

.goal{
    background:#1fb56c;
    color:white;
}

.difficulty.selected{
    background:#ff9800;
    color:black;
}

.goal.selected{
    background:#ffd54f;
    color:black;
}

#start{
    width:100%;
    height:60px;
    border:none;
    border-radius:18px;
    background:#2979ff;
    color:white;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    transition:.2s;
}

#start:hover{
    transform:scale(1.03);
}

.top{
    text-align:center;
}

#targetText{
    font-size:26px;
}

#scoreText,
#livesText,
#boostText{
    margin-top:8px;
}

.progress{
    margin:20px 0;
    height:18px;
    width:100%;
    background:#2d3748;
    border-radius:20px;
    overflow:hidden;
}

#progressBar{
    width:0%;
    height:100%;
    background:linear-gradient(90deg,#00e676,#00b0ff);
    transition:.35s;
}

.player-card{
    text-align:center;
    margin:20px 0;
}

.player-card img{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:18px;
    background:#243447;
}

.player-card h2{
    margin-top:15px;
}

.choices{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:12px;
}

.choices button{
    height:55px;
    border:none;
    border-radius:14px;
    background:#2979ff;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.2s;
}

.choices button:hover{
    transform:scale(1.03);
}

.choices button:disabled{
    background:#555;
    cursor:not-allowed;
    opacity:.6;
}

@media(max-width:500px){

.app{
    padding:12px;
}

.player-card img{
    width:180px;
    height:180px;
}

h1{
    font-size:30px;
}

}
